.exp_description_display{
    display: flex;
    justify-content: center;
}
.exp_amount_display{
    display: flex;
    justify-content: center;
}
#Form{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#budget_Form{
    display: flex;
    justify-content: center;
}
#expense_Form1{
    background-color: blue;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
}
body {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}
h2 {
    align-content: center;
    margin-right: 20%;
    margin: 10px;
    padding: 10px;
    background-color: orange;
    text-color: aqua;
}
button{
    background-color: red;
    border-radius: 15%;
}
