.exp_description_display{
    display: flex;
    justify-content: center;
}
.exp_amount_display{
    display: flex;
    justify-content: center;
}
#Form{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
}
#budget_Form{
   
}
#expense_Form1{

}

.header{
    display: flex;
    justify-content: center;
}

body {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}

button{
    background-color: red;
    border-radius: 15%;
}
table{
    border: 1px solid black;
    padding: 10px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}